/* 기욱님 navbar css 수정했어요! - 수영 */
#nav_wrap {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 150px;
  font-size: 40px;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.navbar__menu {
  font-size: 35px;
  margin: 0;
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar__menu li {
  padding: 8px 30px;
}

.navbar__menu li:hover {
  background-color: #fbc531;
  border-radius: 5px;
}

@media screen and (min-width: 1000px) {
  .navbar__menu {
    margin-right: 30px;
  }
  .navbar__menu:last-child {
    margin-right: 0;
  }
}
