/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

* {
  background-color: #fff6cf;
  color: black;
  font-family: "Poor Story", cursive;
  letter-spacing: 3px;
  margin: 0px;
  padding: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* 팀명 폰트 */
#team_name {
  font-family: "Moirai One", cursive;
  font-size: 90px;
  letter-spacing: 20px;
  margin-left: 15%;
}

/* 본문 타이틀 폰트 */
.info_title {
  font-size: 50px;
  text-align: center;
  font-family: "Gamja Flower", cursive;
}
