a {
  color: black;
}

/* 기욱 게시판 css */
/* LIST */
.boardTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 15.7%;
  padding-top: 150px;

  font-size: 25px;
}

.search {
  text-align: left;
  padding-left: 10.7%;
  padding-top: 20px;
}

.search input {
  width: 300px;
  padding: 0.5rem;
}

.search button {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: rgb(40, 85, 51);
  cursor: pointer;
  border-radius: 10px;
}

.search button:hover {
  background-color: rgb(27, 59, 35);
}

.board {
  background-color: #fff;
  margin: 1rem auto;
  width: 68.5%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#new {
  display: none;
}

.writeBtnWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

table {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

table th,
table td {
  text-align: center;
  /* width: 100%; */
  /* height: 50px; */
  border: 1px solid #ddd;
  padding: 20px 20px;
}

.listNum,
.listViews {
  width: 10%;
}

/* 제목에 마우스 두면 마우스 클릭 커서로 변경 */
.listTitle {
  cursor: pointer;
}

.listTitle:hover {
  background-color: rgb(247, 247, 247);
}

.listAutor,
.listDate {
  width: 20%;
}

.pagination {
  text-align: center;
  margin-top: 1rem;
}

/* MODIFY */
.boardModify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15%;
  padding-top: 150px;
  font-size: 25px;
}

/* VIEW */
.boardView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 200px 0px 100px 15%; */
  text-align: center;
  padding: 150px 0px 50px 0%;

  font-size: 25px;
}

#subject,
#wirter,
#date,
#content {
  background-color: #fff;
  border-radius: 10px;
  height: fit-content;
  width: 90%;
  max-width: 1100px;
  border: 1px solid rgb(128, 128, 128);
  margin: 10px auto 10px auto;
  padding: 1% 1% 1% 5%;
  font-size: 20px;
  text-align: left;
}

#content {
  padding: 5%;
}

#content pre {
  font-family: "Poor Story", cursive;
  white-space: pre-line;
  word-break: break-all;
}

.bold {
  font-weight: bolder;
  font-size: 22px;
}

/* WRITE */
/*약간 수정했어요*/
.boardWrite {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* padding: 200px 0px 100px 15%; */

  text-align: center;
  padding: 200px 0px 100px 0%;

  font-size: 25px;
}
.commentContainer {
  border: 10px dashed rgb(116, 75, 47);
  border-radius: 20px;
  background-color: #b2937f;
  height: 80%;
  width: 70%;
  max-width: 1200px;
  min-width: 800px;
  margin: 0px auto 100px auto;
  padding: 30px;

  outline: none;
}

.inputContainer {
  border: 10px dashed rgb(116, 75, 47);
  border-radius: 20px;
  background-color: #b2937f;
  height: 80%;
  width: 70%;
  max-width: 1200px;
  min-width: 800px;
  margin: 0px auto 100px auto;
  padding: 30px;

  outline: none;
}

.inputContainer div {
  margin: 5px 0px 5px 0px;
  text-align: center;
}

.input {
  height: 30px;
  width: 90%;
  max-width: 1100px;
  border-radius: 7px;
  border: 1px solid rgb(128, 128, 128);
  margin: 10px auto 10px auto;
  padding: 15px;
  font-size: 20px;
  outline: none;
}

.writeTextArea {
  height: 600px;
  width: 90%;
  max-width: 1100px;
  margin-top: 0px;
  padding: 15px;
  font-size: 17px;
  border-radius: 10px;
  outline: none;
}

.blank {
  width: 100%;
  height: 80px;
}

/* label{
  font-size: 25px;
  padding: 0px 0px 0px 6%;
} */

#submit,
#return,
.writeButton {
  height: 60px;
  width: 20%;
  float: right;
  margin: 20px 10px 0px 0px;
  background-color: rgb(40, 85, 51);
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  /* background-color: rgb(222, 241, 227); */
}

.writeButton {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 100px;
}

.writeButton:last-child {
  margin-right: 5%;
}
.writeButton:hover,
#return:hover,
#submit:hover {
  background-color: rgb(27, 59, 35);
  color: white;
  /* color: rgb(52, 187, 10); */
}

#submit {
  margin-right: 5%;
}

.input:hover {
  font-size: 20px;
  /* color: rgb(52, 187, 10); */
}

textarea:hover {
  font-size: 25px;
}

/* 기욱 게시판 css */
div.paging {
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  font-size: 25px;
}

div.pages {
  padding-left: 10px;
  padding-right: 10px;
}

div.paging > i,
div.paging > div.pages > span {
  margin: 0 3px;
  cursor: pointer;
}

span.active {
  color: rgb(235, 101, 39);
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

#commentName,
#pwd1,
#pwd2 {
  width: 23%;
  display: flex;
  align-items: right;
  justify-content: right;

  padding: 3px 3px 3px 10px;
  font-size: 15px;
  /* width: 40%; */
  border-radius: 7px;
  border: 1px solid;
  outline: none;

  margin-right: 15px;
  margin-bottom: 10px;
}

#commentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 120px; */
  /* height: 50px;   */
  width: 11%;
  height: 40px;
  padding: 1%;
  font-size: 17px;
  text-align: center;
  margin-right: 2.75%;
  margin-left: 1%;
  /* background-color: #333; */
  background-color: rgb(40, 85, 51);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#commentBtn:hover {
  background-color: rgb(27, 59, 35);
  height: 40px;
}
#input #commentText {
  flex-grow: 1;
  resize: none;
  outline: none;
  padding: 5px;
  margin: 0;
  border-radius: 5px;
  margin-right: 5px;
  text-indent: 5px;
}

.commentTop {
  display: flex;
}

#chkNotice {
  padding-top: 15px;
}

.textdiv {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 5px;
  position: relative;
  margin-bottom: 20px;
}

#input {
  display: flex;
  flex-direction: column;
}
.lineTwo {
  border: 3px dotted white;
  height: 1px;
  width: 90%;
  position: relative;
  left: 5%;
}
section {
  width: 90%;
  margin-left: 5%;
}

.msg h3 {
  padding: 20px;
  font-weight: bolder;
  color: white;
}
#commentField {
  background-color: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  border: 3px dashed rgb(116, 75, 47);
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 2%;
  /* align-items: center;
  justify-content: center; */
}

#resultName,
#resultTime,
#resultContent {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 15px;
  text-align: left;
}
#resultTime {
  font-size: 12px;
  margin-bottom: 20px;
}

#resultName {
  font-weight: bolder;
}

#commentDelete {
  border-radius: 10px;
  padding: 1%;
  display: flex;
  align-items: right;
  justify-content: right;
  position: absolute;
  left: 88%;
  bottom: 55%;
  /* float: right; */
  /* background-color: #333; */
  background-color: rgb(40, 85, 51);
  color: white;
}

#commentDelete:hover {
  background-color: rgb(27, 59, 35);
}

#commentForm {
  /* background-color: rgb(240, 239, 239); */
  background-color: rgb(254, 254, 252);
  /* background-color: rgb(241, 246, 243); */
  border: 3px solid white;
  border-radius: 10px;
  padding: 5%;
  margin-bottom: 20px;
}
#commentName {
  padding: 3px 3px 3px 10px;
  font-size: 15px;
  /* width: 62.5%; */
  width: 23%;
  border-radius: 7px;
  border: 1px solid;
  outline: none;
}

#chkNotice {
  width: 50%;
  height: 60px;
  border-radius: 30px;
  margin: 20px auto 0px auto;
  border: 1px solid white;
  display: none;
}

#chkNoticeCo {
  height: 14px;
  border-radius: 5px;
  display: none;
  font-size: 15px;
}
#result {
  margin-bottom: 3%;
}

#result:last-child {
  margin-bottom: 0%;
}
.resultWrp {
  border: 1px solid white;
  border-radius: 10px;
  padding: 3%;
}
.resultMsg {
  position: relative;
  /* border: 1px solid transparent; */
  width: 100%;
  /* padding: 10px 15px; */
  border-radius: 10px;
  padding: 3%;
  border: 1px solid black;
  font-size: 15px;
}

/* .resultBottom {
  padding: 3%;
  border: 1px solid black;
  border-radius: 10px; 
  font-size: 15px; 
  position: relative; 
} */
.new {
  display: none;
}

.newHide {
  display: block;
}

#nav3 {
  text-decoration: underline;
  font-weight: bold;
}

#writeTitle {
  height: 45px;
  width: 90%;
  border-radius: 10px;
  outline: none;
}

.nametime {
  flex-direction: row;
}
