/* Team information */

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");


/* 영우님 */
.infoTeam {
  width: 50vw;
  height: 400px;
  border: 2px solid chocolate;
  border-radius: 130px;
  margin: 200px auto 0px auto;
}

.aTeamGoal {
  background-color: rgb(241, 240, 238);
  width: 80%;
  height: 30%;
  margin: 30px auto 0px auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: darkblue;
  border: 1px solid chocolate;
  border-radius: 95px;
  text-align: center;
}

.donation {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow {
  margin-top: 5%;
  margin: 0px auto 20px auto;
  position: relative;
  top: 15px;
  width: 15px;
  height: 15px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  transform: rotate(45deg);
}

#payText {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20px;
  bottom: 10px;
}

.payImg {
  margin: 20px auto 20px auto;

}

/* 본문 타이틀 폰트 */
.infoTitle {
  font-size: 30px;
  text-align: center;
  font-family: "Gamja Flower", cursive;
  padding: 30px;
}