/* Team information */

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

.infoTeamWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.infoTeamBox {
  width: 80vw;
  display: flex;
  /* background-color: #fff; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.helloBox {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 700;
  width: 80%;
  font-size: 40px;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 150px;
}

.infoContents {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gatherImg {
  width: 100%;
  height: 100%;
  border-radius: 95px;
  padding: 0;
  box-shadow: 5px 5px 10px;
}

.gatherImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 95px;
}

/* 영우님 */
.infoTeam {
  width: 500px;
  height: 500px;
  font-size: 20px;
  /* border: 2px solid chocolate; */
  border-radius: 130px;
}

.content {
  padding: 30px;
}

.intro {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}

.aTeamGoal {
  background-color: rgb(241, 240, 238);
  width: 80%;
  height: 30%;
  margin: 30px auto 0px auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: darkblue;
  border: 1px solid chocolate;
  border-radius: 95px;
  text-align: center;
}

i {
  width: 80px;
  /* height: 80px; */
  text-align: center;
  font-size: 50px;
  border: 2px solid chocolate;
}
.won {
}

.donation {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow {
  margin-top: 5%;
  margin: 0px auto 20px auto;
  position: relative;
  top: 15px;
  width: 15px;
  height: 15px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  transform: rotate(45deg);
}

#payText {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20px;
  bottom: 10px;
}

.payImg {
  margin: 20px auto 20px auto;
}

/* 본문 타이틀 폰트 */
.infoTitle {
  font-size: 30px;
  text-align: center;
  font-family: "Gamja Flower", cursive;
  padding: 30px;
}
