/* Team information */

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

a {
  color: black;
}
a:hover {
  color: black;
}
.infoTeamWrap {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.infoTeamBox {
  display: flex;
  /* background-color: #fff; */
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  width: 80%;
  padding-left: 5%;
}

.helloBox {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 700;
  width: 80%;
  font-size: 40px;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 150px;
}

.introContent {
  font-size: 23px;
}

#nav1 {
  text-decoration: underline;
  font-weight: bold;
}

.gatherImg {
  width: 85%;
  height: 85%;
  border-radius: 95px;
  padding: 5% 0% 0% 0%;
}

.gatherImg img {
  width: 85%;
  min-width: 600px;
  max-width: 800px;
  margin-right: 50px;
  height: 85%;
  object-fit: cover;
  border-radius: 95px;
  box-shadow: 5px 5px 10px;
}

/* 영우님 */
.infoTeam {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  font-size: 20px;
  /* border: 2px solid chocolate; */
  border-radius: 130px;
  margin-bottom: 150px;
}

.infoTeam p {
  margin-bottom: 0px;
}

.content {
  padding: 0px 6px 0px 11%;
}

.intro {
  font-weight: 700;
  font-size: 37px;
  /* margin-bottom: 30px; */
  padding-bottom: 14px;
  margin-top: 80px;
}

.teamAndDonaBox {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.aTeamGoal {
  background-color: rgb(241, 240, 238);
  width: 80%;
  height: 30%;
  margin: 30px auto 0px auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: darkblue;
  border: 1px solid chocolate;
  border-radius: 95px;
  text-align: center;
}

/* 본문 타이틀 폰트 */
.infoTitle {
  font-size: 30px;
  text-align: center;
  font-family: "Gamja Flower", cursive;
  padding: 30px;
}

.leftDiv {
  display: flex;
  flex-direction: row;
}
