/* member_detail.html */
a {
  text-decoration: none;
  color: black;
}

.blank {
  height: 100px;
}

.container .detail {
  width: 70%;
  height: auto;
  /* background-color: rgb(212, 129, 21); */
  margin: 150px auto 400px auto;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 300px;
}

img {
  display: flex;
  object-fit: cover;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.member_profile_img {
  /* margin-right: 20px; */
  /* width: 150px;
  height: 150px; */
  margin-left: 10%;
  /* background-color: blue; */
}

.member_detail {
  /* background-color: blue; */

  height: auto;
  margin-right: 10%;

  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#footer {
  height: 400px;
}
