/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

* {
  color: black;
  font-family: "Poor Story", cursive;
  letter-spacing: 3px;
  margin: 0px;
  padding: 0;
}

/* * {} 여기에 뒀더니 우선순위가 높아 다른 배경 색이 적용되지 않아 따로 뺴놨습니다. */
body {
  background-color: #fff6cf;
  width: 100vw;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

/* Navbar */
/* Navbar는 저의 페이지 모든 곳에 들어있으니 공통 Css 파일에 넣어놨어요! */
/* 기욱님 navbar css 수정했어요! - 수영 */
#navWrap {
  /* margin-top: 30px; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 150px;
  font-size: 40px;
}

/* 팀명 폰트 */
.navLogo {
  font-family: "Moirai One", cursive;
  font-size: 50px;
  letter-spacing: 20px;
  margin-left: 15px;
}

.bugerIcon {
  margin-right: 20px;
}

.navLogo:hover .bugerIcon {
  display: inline-block;
  transform-origin: 50% 0%;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(45deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.navMenu {
  font-size: 35px;
  margin: 0;
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navMenu li {
  padding: 8px 30px;
}

.navMenu li:hover {
  background-color: #fbc531;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.footerWrap {
  margin-top: 50px;
  padding-bottom: 100px;
}

.endName {
  font-size: 15px;
  font-weight: bolder;
}

.endName:first-child {
  margin-top: 30px;
}

.nbcamp {
  margin: 100px auto 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.line {
  background-color: black;
  height: 1px;
  border: 5px dashed rgb(116, 75, 47);
  background-color: #b2937f;
  margin-bottom: 50px;
  outline: none;
}

.emoge {
  font-size: 28px;
}

.campLogo {
  font-size: 25px;
}

.campLogo img {
  display: inline-block;
  object-fit: none;
}

/* 영우님 후원 파트 css */

i {
  width: 80px;
  /* height: 80px; */
  text-align: center;
  font-size: 50px;
}

i:hover {
  cursor: pointer;
}

.donation {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.won {
  margin-right: 45px;
}

#arrow {
  margin-top: 5%;
  margin: 0px auto 20px auto;
  position: relative;
  top: 15px;
  width: 15px;
  height: 15px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  transform: rotate(45deg);
}

#payText {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20px;
  bottom: 10px;
}

.payImg {
  margin: 20px auto 20px auto;
}
.campLogo {
  font-size: 25px;
}

.campLogo img {
  object-fit: none;
  display: inline-block;
}

@media screen and (min-width: 1000px) {
  .navMenu {
    margin-right: 30px;
  }
  .navMenu:last-child {
    margin-right: 0;
  }
}
